*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(105deg, #ff4d6d 55%, white 55%);
}

.text{
    width: 50%;
    padding-left: 10%;
    color: white;
}

.main_text{
    padding-top: 25px;
}

.picture {
    width: 50%;
    display: flex;         
    align-items: center;    
    justify-content: center;
    gap: 10px;             
}

.small-images {
    display: flex;
    flex-direction: column; 
    gap: 15px;              
    width: 40%;             
}


.picture img {
    width: 100%;            
    border-radius: 20px; 
    border: 5px solid white; 
    object-fit: cover;
}

.big-img {
    width: 50% !important;  
}
header {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex; 
    
    justify-content: space-between;
    padding: 20px 50px;
    color: white;
    align-items: center; 
}

a {
    text-decoration: none;

    color: #e65054; 
    padding-right: 40px;
    font-weight: 700;
    transition: transform 0.3s ease;
    
}
body{

    font-family: 'Montserrat', sans-serif;
}

#timer
{
    font-family: 'Montserrat', sans-serif; 
    font-weight: 900;
    font-size: 20px;
    color: #ffffff;
    text-align: left;
    margin-top: 20px;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    padding-top: 90px;
}


.heart {
    position: fixed;
    top: -10vh;    
    z-index: 999;    
    pointer-events: none;
    user-select: none;
    color: #ff4d6d;
    font-size: 24px; 
    /*Шпаргалка з відео:  https://fls.guru/cssanimation.html - тут є всі види animation- і пояснення того як це працює*/
    animation-name: fall;
    animation-timing-function: linear;    
    animation-fill-mode: backwards; 
    animation-duration: 5s; /* час за який анімація перейде від початкової точки 0% до кінцевої точки 100% */
}



@keyframes fall {/*- анімація ключове слова: "@keyframes", назва аннімації*/
    0% { /*-краще вказувати у відсотках 0% - це початкова точка*/
        transform: translateY(0); 
        opacity: 1;           
    }
    
    /* Фініш (100% часу) */
    100% { /*-краще вказувати у відсотках 100% - це кінцева точка*/
        transform: translateY(110vh); 
        opacity: 0.8;                
    }
}